*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body {
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}


::selection{
    background: black;
    color: white;
}

.navbar {
    width: 100%;
    height: 120px;
    position: fixed;
    top:0;
    left:0;
    right: 10px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 5vw;
    background: white;
    z-index:9;
}

.logo img {
    width: 30%;
    height: auto;

}


.link-container {
    display:flex;
    list-style: none;
    font-size: 20px;
}

.link {
    padding: 20px;
    margin-left:10px;
    text-decoration: none;
    text-decoration: capitalize;
}

.btn1 {
    padding: 15px 40px;
    border-radius: 10px;
    color: black;
    background-color: rgb(245, 239, 239);
   


}

.btn1 a {
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    
}

.btn1:hover {
    background-color:#2980b9; 
    
}




.header {
    margin-top: 60px;
    width: 60%;
    height: calc(100vh - 60px);
    background: url(nature-4k.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content {
    text-align: center;
}

.heading {
    color: rgb(245, 234, 234);
    text-transform: capitalize;
    font-size: 40px;
    line-height:60px ;
    margin-bottom: 80px;
    pointer-events: all;
}

.header {
    margin-top: 60px;
    width: 100%;


}

.blog-section {
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 80px;

}

.blog-image {
    width: 100%;
    height: 350px;
    object-fit: cover ;
    border-radius: 10px;
    margin-bottom: 10px;

}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.oke{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff; 
    background-color: #3498db; 
    border: 2px solid #2980b9;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.oke:hover{
    background-color: #2980b9; 
    color: #fff; 
    border: 2px solid #3498db; 
}




.show {
    display: block !important;
}