.card .image-box {
  height: 200px;

}


.card .image-box img {
  height: 100%;
}

.card .profile-detail img {
  height: 40px;
  width: 40px;
  border-radius: 50%;

}
.card {
  background: rgb(165, 14, 14);
}


.card .profile-detail {
  display: flex;

  column-gap:10px ;
  padding: 15px;
}

.profile-detail .name {
  font-size: 15px;
  font-weight: 500;
}

.container {
  width: 100%;
  background-color: green;
}